<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvtoeh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f5b63606-22f6-4554-bb73-4c3957b979f1/resourceGroups/functionAppDemo/providers/Microsoft.Web/sites/csvToEH</ResourceId>
    <UserName>$csvToEH</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvtoeh.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>